<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>StackAPI</title>
</head>
<body class="container-fluid">
    <h6>StackAPI > Articles Dashboard</h6>
    <div class="container">
        <div class="row row-cols-auto fw-bolder">
            <div class="col m-auto">
                <div class="d-flex justify-content-center">{{ question_count }}</div>
                <div class="text-muted">Questions</div>
            </div>
            <div class="col m-auto">
                <div class="d-flex justify-content-center">{{ article_count  }}</div>
                <div class="text-muted">Articles</div>
            </div>
            <div class="col m-auto">
                <div class="d-flex justify-content-center">{{ post_count  }}</div>
                <div class="text-muted">Posts</div>
            </div>
        </div>
    </div>
    <h4>Topics users have written articles about</h4>
    <div>
        <canvas id="tagsChart"></canvas>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.0/dist/chart.min.js"></script>
    <script>
        let tagsCtx = document.getElementById("tagsChart").getContext("2d");

        let chart2 = new Chart(tagsCtx, {
        type: "bar",
        data: {
            labels: [{% for tag in article_tags.keys %} '{{ tag }}', {% endfor %}],
            datasets: [
                {
                label: "Tags Count",
                backgroundColor: "#79AEC8",
                borderColor: "#417690",
                data: [{% for value in article_tags.values %} {{ value }}, {% endfor %}]
                }
            ]
        },
        options: {
            title: {
                text: "Topics users write about",
                display: true
            },
            indexAxis: 'y',
            responsive: true
        },
        });
    </script>
</body>